@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
}

body {
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #0b0d24 0%, #020207 100%);
  color: white;
}

/* Glass window */
.window {
  position: relative;
  z-index: 5;
  background: rgba(10, 12, 40, 0.65);
  backdrop-filter: blur(20px);
  border-radius: 16px;
  padding: 50px 70px;
  border: 1px solid rgba(255,255,255,0.25);
  box-shadow: 0 0 60px rgba(120,160,255,0.15);
  text-align: center;
}

/* Center everything */
.center {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Option buttons */
.option {
  display: block;
  margin: 20px auto;
  padding: 14px 60px;
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 30px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  color: white;
  cursor: pointer;
  transition: 0.4s;
}

.option:hover {
  background: white;
  color: #0b0d24;
  box-shadow: 0 0 25px rgba(255,255,255,.8);
}

/* Letter */
.letter {
  width: min(90vw,800px);
  min-height: 65vh;
  padding: clamp(20px, 4vw, 50px);
  background: rgba(10, 12, 40, 0.6);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,.25);
  box-shadow: 0 0 80px rgba(140,180,255,.15);
  z-index: 5;
}

.letter h1 {
    margin-top: 100px;;
  font-size: 28px;
  line-height: 1.5;
}

